@charset "utf-8";

@import url('reset.css');


/******************   GNB   ******************/

#gnb{width:100%; height:100px; background:#ffffff;; position:absolute; top:0; left:0; z-index:2; border-top:10px solid #043465; }
#gnb .mobileHome{display:none;}
#gnb .gnbWrapper{width:1180px; margin:0 auto;}
#gnb .gnbWrapper .mobileMenu{display:none;}
#gnb h1 a{width:212px; height:100px; display:block; background:url(../images/common/ci_b.png) no-repeat left center; float:left;}
#gnb .menu{float:left;}
#gnb .menu>li{float:left; margin-left:60px;}
#gnb .menu>li>a{ color:#111111; font-size:18px;line-height:100px;}
#gnb .menu>li.on{background:url(../images/common/gnb_on.png) no-repeat center bottom;}
#gnb .menu>li.first{margin-left:90px;}
#gnb .menu>li .menuWrap{position:absolute; width:100%; height:120px; top:100px; left:0; background:#eaf1f7; display:none;} 
#gnb .menu>li .menuWrap>ul{width:1180px; margin:0 auto; padding:22px 0; height:76px;}
#gnb .menu>li .menuWrap>ul>li{float:left; line-height:76px; margin-left:40px;}
#gnb .menu>li .menuWrap>ul>li a{color:#14416f;}
#gnb .menu>li .menuWrap>ul>li.sub ul{display:none;}
#gnb .menu>li .menuWrap>ul.m1>li.first{margin-left:276px; border-left:1px solid #a9bcce; padding-left:65px;}
#gnb .menu>li .menuWrap>ul.m2>li.first{margin-left:276px; border-left:1px solid #a9bcce; padding-left:65px;}
#gnb .menu>li .menuWrap>ul.m3>li.first{margin-left:375px; border-left:1px solid #a9bcce; padding-left:65px;}
#gnb .menu>li .menuWrap>ul.m4>li.first{margin-left:420px; border-left:1px solid #a9bcce; padding-left:65px;}
#gnb .menu>li .menuWrap>ul.m5>li.first{margin-left:695px; border-left:1px solid #a9bcce; padding-left:65px;}
#gnb .menu>li .menuWrap>ul.m6>li.first{margin-left:800px; border-left:1px solid #a9bcce; padding-left:65px;}
#gnb .menu>li .menuWrap .m1{background:url(../images/common/gnb_active_icon1.png) no-repeat 87px center;}
#gnb .menu>li .menuWrap .m2{background:url(../images/common/gnb_active_icon2.png) no-repeat 100px center;}
#gnb .menu>li .menuWrap .m3{background:url(../images/common/gnb_active_icon3.png) no-repeat 220px center;}
#gnb .menu>li .menuWrap .m4{background:url(../images/common/gnb_active_icon4.png) no-repeat 220px center;}
#gnb .menu>li .menuWrap .m5{background:url(../images/common/gnb_active_icon5.png) no-repeat 540px center;}
#gnb .menu>li .menuWrap .m6{background:url(../images/common/gnb_active_icon6.png) no-repeat 660px center;}

#gnb .util{float:right; margin-left:10px;}
#gnb .util li{float:left; margin-top:35px;}
#gnb .util li:first-child a {display:block;  color:#ffffff; background:#0054a6; width:40px; height:30px; margin-right:5px; line-height:30px; text-align:center; }
#gnb .util li a{ display:block; background:#043465;  width:100px; height:30px;  color:#ffffff; font-size:12px; line-height:30px; text-align:center;}

@media screen and (max-width:1200px){
	
	#gnb .gnbWrapper{width:960px;}
	#gnb .menu>li{float:left; margin-left:30px;}
	#gnb .menu>li.first{margin-left:60px;}
	
	#gnb .menu>li .menuWrap>ul.m1>li.first{margin-left:276px; border-left:1px solid #a9bcce; padding-left:65px;}
	#gnb .menu>li .menuWrap>ul.m2>li.first{margin-left:276px; border-left:1px solid #a9bcce; padding-left:65px;}
	#gnb .menu>li .menuWrap>ul.m3>li.first{margin-left:375px; border-left:1px solid #a9bcce; padding-left:65px;}
	#gnb .menu>li .menuWrap>ul.m4>li.first{margin-left:350px; border-left:1px solid #a9bcce; padding-left:65px;}
	#gnb .menu>li .menuWrap>ul.m5>li.first{margin-left:500px; border-left:1px solid #a9bcce; padding-left:65px;}
	#gnb .menu>li .menuWrap>ul.m6>li.first{margin-left:650px; border-left:1px solid #a9bcce; padding-left:65px;}
	#gnb .menu>li .menuWrap .m1{background:url(../images/common/gnb_active_icon1.png) no-repeat 87px center;}
	#gnb .menu>li .menuWrap .m2{background:url(../images/common/gnb_active_icon2.png) no-repeat 100px center;}
	#gnb .menu>li .menuWrap .m3{background:url(../images/common/gnb_active_icon3.png) no-repeat 220px center;}
	#gnb .menu>li .menuWrap .m4{background:url(../images/common/gnb_active_icon4.png) no-repeat 150px center;}
	#gnb .menu>li .menuWrap .m5{background:url(../images/common/gnb_active_icon5.png) no-repeat 350px center;}
	#gnb .menu>li .menuWrap .m6{background:url(../images/common/gnb_active_icon6.png) no-repeat 500px center;}
	
}

@media screen and (max-width:960px){
	
	#gnb .mobileHome{display:block; width:100%; height:100%; background:url(../images/common/mobile_top.png) no-repeat center center #043465; background-size:contain; text-indent:-9999px;}
	#gnb{width:100%; height:50px;}
	#gnb .gnbWrapper{width:270px; position:absolute; left:-270px; top:0;}
	#gnb h1 a{width:270px; height:50px; display:block; background:url(../images/common/ci.png) no-repeat 10px center #043465; background-size:50%;}
	#gnb .gnbWrapper .mobileMenu{display:block; width:50px; height:50px; position:absolute; left:270px; background:url(../images/common/mobile_btn_menu.png) no-repeat left top; background-size:cover;border-right:1px solid #365d84;}
	#gnb .menu>li{ clear:both;margin-left:0;width:270px;border-bottom:1px solid #b3c2d0;}
	#gnb .menu>li>a{ color:#0c3a6a; font-size:14px;line-height:50px; text-indent:20px; display:block; width:100%; height:100%;background:url(../images/common/mobile_menu_arrow.png) no-repeat left top;background-size:cover; }
	#gnb .menu>li.first{margin-left:0px;}
	#gnb .menu>li a.on{ background-position:left bottom; color:#fff;}
	
	#gnb .menu>li .menuWrap{position:relative; width:100%; height:auto; top:0; left:0; background:none;} 
	#gnb .menu>li .menuWrap>ul{width:100%; margin:0; padding:0; height:auto;}
	#gnb .menu>li .menuWrap>ul>li{line-height:30px; margin-left:0; clear:both; width:100%; border-bottom:1px solid #85add5;}
	#gnb .menu>li .menuWrap>ul>li.sub ul{display:block;}
	#gnb .menu>li .menuWrap>ul>li a{ display:block; width:100%; line-height:30px; background:url(../images/common/mobile_menu_arrow2.png) no-repeat right center #6698ca; color:#fff; font-size:12px; text-indent:25px; background-size:contain;}
	#gnb .menu>li .menuWrap>ul>li.sub>a{background-image:url(../images/common/mobile_menu_arrow21.png);}
	#gnb .menu>li .menuWrap>ul.m1>li.first,
	#gnb .menu>li .menuWrap>ul.m2>li.first,
	#gnb .menu>li .menuWrap>ul.m3>li.first,
	#gnb .menu>li .menuWrap>ul.m4>li.first,
	#gnb .menu>li .menuWrap>ul.m5>li.first,
	#gnb .menu>li .menuWrap>ul.m6>li.first{margin-left:0; border-left:none; padding-left:0;}
	#gnb .menu>li .menuWrap>ul>li li a{background:url(../images/common/mobile_menu_arrow3.png) no-repeat right center #c2d6ea; background-size:contain; color:#043465;}
	
	#gnb .util{float:left;}
	#gnb .util li{float:left; line-height:50px; background:#0e3c6b; width:135px; text-align:center;}
	#gnb .util li.first{background:#365d84;}
	#gnb .util li a{ color:#fff; padding:0; font-size:10px; display:block; width:100%; height:100%; line-height:50px;}
	
	
	
}


/******************   FOOTER   ******************/

#footer{background:#043465; position:relative;}
#footer hr{border:none; border-bottom:1px solid #365d84; height:1px; border-collapse:collapse; margin:0;}
#footer .btnWrap{width:1180px; margin:0 auto;}
#footer ul li{float:left;}
#footer ul li a{line-height:60px; color:#fff; font-size:16px; padding:0 14px; background:url(../images/common/footer_split.png) no-repeat left center;}
#footer ul li.first a{padding-left:0; background:none;}
#family{position: relative;width: 365px;height: 40px;background:url(../images/common/btn_family.png) no-repeat left center;float:right; margin-top:10px;}
#family.focus{border-color: #db3900;}
#family label {position: absolute;font-size: 16px;color: #454545;top: 12px;left: 12px; color:#fff;}
#family select#area {width: 285px;;height: 40px;min-height: 40px;line-height: 40px; display:inline-block; opacity: 0;filter: alpha(opacity=0); /* IE 8 */}
#family input[type="button"]{ width:68px;height:40px;border:1px solid #214369;background:#021f46; line-height:38px; color:#fff; text-align:center; font-weight:700; margin-left:10px; cursor:pointer;}

#footer .btnWrap:after{display:block; content:""; clear:both;}
#footer .copy{width:1090px; margin:0 auto; height:122px; padding-left:90px; background:url(../images/common/ci_footer.png) no-repeat left center; overflow:hidden;}
#footer .copy .text:after{display:block; content:""; clear:both;}
#footer .copy .text{width:1090px; margin-top:40px;}
#footer .copy .text .adress{font-size:16px; color:#dde2e8; padding-right:10px; float:left;}
#footer .copy .text .tel,#footer .copy .text .fax{font-size:16px; color:#dde2e8; padding:0 10px; background:url(../images/common/footer_split.png) no-repeat left center; float:left;}
#footer .copy .copyright{font-size:14px; color:#95a1b1; margin-top:10px;}




@media screen and (max-width:1200px){
	
	#footer .btnWrap{width:960px;}
	#footer .copy{width:870px;}
}

@media screen and (max-width:960px){
	#footer .btnWrap{width:100%; margin:0 auto; text-align:center;}
	#footer ul li{float:none; display:inline-block;}
	#footer ul li a{line-height:30px; font-size:12px;background:url(../images/common/footer_split.png) repeat-y left center;padding:0 10px;}
	#footer ul li a.bold{font-weight:800;}
	#family{float:none; margin:10px auto;}
	#family input[type="button"]{-webkit-appearance: none; -moz-appearance: none; border-radius:0;}
	#footer .copy{width:auto; margin:0 auto; height:122px; padding-left:60px; background:url(../images/common/ci_footer.png) no-repeat 10px 10px; background-size:30px; overflow:hidden;}
	#footer .copy .text{width:auto; margin-top:10px;}
	#footer .copy .text .adress{font-size:10px; padding-right:10px; float:left; line-height:16px;}
	#footer .copy .text .tel,#footer .copy .text .fax{font-size:10px; color:#dde2e8; padding:0 10px; background:none; float:left;}
	#footer .copy .text .tel{padding-left:0;}
	#footer .copy .copyright{font-size:10px; color:#95a1b1; margin-top:10px;}
}


/******************   모바일 설정   ******************/

.mobileView{display:none !important;}
@media screen and (max-width:960px){
	.mobileBlind{display:none !important;}
	.mobileView{display:block !important;}	
}




.pointColor{color:#56a4c2; font-weight:700;}
.bold{font-weight:700;}





/******************   개인정보보호정책 팝업   ******************/


.policy {width:94%;}
.policy .policyTop {width:100%; margin:0; padding:20px 20px 30px 20px; background:#032453;}
.policy .policyTop h2 {color:#fff;}
.policy .policyTop ul {margin-top:20px;}
.policy .policyTop ul li {margin:3px 0;}
.policy .policyTop .policyList li a {font-size:14px; color:#fff; }

.policy .policyCon {width:100%; padding:0 20px; }
.policy .policyCon p {margin-top:20px; line-height:20px; }
.policy .buList4 dt {padding-left:10px; background:url(../images/common/list_bu.gif) left 8px no-repeat; line-height:18px; font-weight:bold; color:#111; display:block;}
.policy .buList4 dd {margin-bottom:8px; line-heiht:20px; display:block;} 




