<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Detailed" />
		<security>
		<requestFiltering>
		 <fileExtensions allowUnlisted="true" applyToWebDAV="true">
		  <remove fileExtension=".mdb" />
		  <remove fileExtension=".config" />
		 </fileExtensions>
		 <hiddenSegments applyToWebDAV="true">
		  <remove segment="bin" />
		 </hiddenSegments>
		</requestFiltering>
	   </security>
    </system.webServer>
</configuration>
